---
layout: base
---
{% assign my = site.my %}
<div class="row" id="about">
    <header id="title">
        <img src="{{ site.baseurl }}/images/me.png">
        <h1>{{ my.realName_cn }} | <small>{{ my.jobTitle | upcase }}</small></h1>
    </header>

    <section id="intro">
        <h2>我能怎麼辦，我也很絕望啊！</h2>
        <p>自從進了亞大資工系，我學習了很多高中以前都沒碰過的東西。</p>
        <p>最近，我終於明白了一個道理：鹹魚翻身，還是鹹魚。</p>
        <p>一覺醒來，天都黑了，我覺得很神奇。</p>
        <p>我以為我很頹廢，現在我才知道，原來我早報廢了。</p>
        <p>小時候以為自己可以拯救世界，等長大後才發現世界都救不了我。</p>
        <p>人只有兩個選擇，忙著死或是忙著活，我想我有了第三種選擇：忙著等死。</p>
        <p>不過，我家人告訴我：腦袋空並不要緊，關鍵是不能進水！</p>
        <p>可是，我的朋友總是叫我：DB2。</p>
    </section>

    <section id="skillsets">
        <h2>SKILLSETS</h2>
        <ul id="frontend">
            <i class="fa fa-tv">前端</i>
            {% for skill in my.skills.frontend %}
            <li>{{ skill }}</li>
            {% endfor %}
        </ul>
        <ul id="backend">
            <i class="fa fa-cog"> 後端</i>
            {% for skill in my.skills.backend %}
            <li>{{ skill }}</li>
            {% endfor %}
        </ul>
        <ul id="tools">
            <i class="fa fa-wrench"> 工具</i>
            {% for skill in my.skills.tools %}
            <li>{{ skill }}</li>
            {% endfor %}
        </ul>
    </section>

    <section id="findme">
        <h2>FIND ME ON</h2>
        <ul>
            <li><a href="http://www.51mole.com.tw/"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="http://aiplab.net/forum/index.php?board=143.0"><i class="fa fa-pencil-square-o"></i></a></li>
        </ul>
    </section>

</div>
{% include disqus_load.html %}